@model PlataformaReforco.Models.Turma
@{
    ViewData["Title"] = "Criar Turma";
}

<h1>Criar Nova Turma</h1>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Disciplina"></label>
        <input asp-for="Disciplina" class="form-control" />
        <span asp-validation-for="Disciplina" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Serie"></label>
        <input asp-for="Serie" class="form-control" />
        <span asp-validation-for="Serie" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Turno"></label>
        <input asp-for="Turno" class="form-control" />
        <span asp-validation-for="Turno" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ano"></label>
        <input asp-for="Ano" class="form-control" />
        <span asp-validation-for="Ano" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-3">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Voltar</a>
</form> 